# Tarjeta MKS Gen l V1
# GENIUS 02
[include mainsail.cfg]
[include timelapse.cfg]
[include Macros.cfg]
[exclude_object]
#[include adxl.cfg]

[stepper_x]
step_pin: PF0
dir_pin: PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40   ##rotation_distance = ((360°/1.8°) * microsteps) / 80 # # rotation_distance = 200*16/80 (X Y)
endstop_pin:^!PE5 #X-Min, PE4:X-Max
position_endstop: 0
position_min : 0  #Lo agregue para cuadrar
position_max: 220
homing_speed: 30

[stepper_y]
step_pin: PF6
dir_pin: !PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 40  ##rotation_distance = ((360°/1.8°) * microsteps) / 80 # # rotation_distance = 200*16/80 (X Y)
endstop_pin: ^!PJ1  #Y-Min, PJ0:Y-Max
position_endstop: 0
position_min : 0
position_max: 220
homing_speed: 30

[stepper_z]
step_pin: PL3
dir_pin: !PL1
enable_pin: !PK0
microsteps: 16
rotation_distance: 8  ##rotation_distance = ((360°/1.8°) * microsteps) / 80 # # rotation_distance = 200*16/400 (Z)
endstop_pin: probe:z_virtual_endstop
#endstop_pin: ^!PD3  #Z-Min, PD2:Z-Max
#position_endstop: 0
position_max: 250
position_min: -3

[stepper_z1]
step_pin: PC1
dir_pin: !PC3
enable_pin: !PC7
microsteps: 16
rotation_distance: 8

[extruder]
step_pin: PA4
dir_pin: PA6
enable_pin: !PA2
microsteps: 16
rotation_distance: 7.2 ##rotation_distance = ((360°/1.8°) * microsteps) / 80 # # rotation_distance = 200*16/400 (Extrusor)
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PB4
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK5
min_temp: 0
max_temp: 270
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114

#[extruder1]
#step_pin: PC1
#dir_pin: !PC3
#enable_pin: !PC7
#heater_pin: PH4
#sensor_pin: PK7
#...

[heater_bed]
heater_pin: PH5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PK6
min_temp: 0
max_temp: 130
#control: pid
#pid_Kp: 325.10
#pid_Ki: 63.35
#pid_Kd: 417.10

[fan]
pin: PH6

[heater_fan hotend_fan]
pin: PH4
heater: extruder
heater_temp: 50.0




[mcu]
#serial:/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
#serial:/dev/serial/by-path/platform-3f980000.usb-usb-0:1.2:1.0-port0
serial:/dev/serial/by-path/platform-5200400.usb-usb-0:1:1.0-port0

############

########################################
# TMC UART configuration
########################################

#[tmc2209 stepper_x]
#uart_pin: PK1
#interpolate: True
#run_current: 0.8
#hold_current: 0.5
#sense_resistor: 0.110
#stealthchop_threshold: 999999
#diag_pin: ^PE5      # Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS: 60   # 255 is most sensitive value, 0 is least sensitiv      # Set to MCU pin connected to TMC DIAG pin


#[tmc2209 stepper_y]
#uart_pin: PK2
#interpolate: True
#run_current: 0.8
#hold_current: 0.5
#sense_resistor: 0.110
#stealthchop_threshold: 999999
#diag_pin: ^PJ1      # Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS: 60  # 255 is most sensitive value, 0 is least sensitiv

#[tmc2209 stepper_z]
#uart_pin: PK3
#interpolate: True
#run_current: 0.8
#hold_current: 0.5
#sense_resistor: 0.110
#stealthchop_threshold: 999999
#diag_pin: ^PD2     # Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS: 255  # 255 is most sensitive value, 0 is least sensitiv

#[tmc2209 extruder]
#uart_pin: PK4
#interpolate: True
#run_current: 0.8
#hold_current: 0.5
#sense_resistor: 0.110
#stealthchop_threshold: 999999

#[tmc2209 stepper_e1]
#uart_pin: PB6
##interpolate: True
#run_current: 0.8
#hold_current: 0.5
#sense_resistor: 0.110
#stealthchop_threshold: 0


[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 1500
max_z_velocity: 10
max_z_accel: 500
square_corner_velocity: 10.0

########################################

[output_pin beeper]
pin: PC0

[neopixel fysetc_mini12864]
pin: PA3
chain_count: 3
color_order: RGB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 0.0
########################################


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC0, EXP1_3=PH0, EXP1_5=PA1, EXP1_7=PA5, EXP1_9=<GND>,
    EXP1_2=PC2, EXP1_4=PH1, EXP1_6=PA3, EXP1_8=PA7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB3, EXP2_3=PC6, EXP2_5=PC4, EXP2_7=PL0,  EXP2_9=<GND>,
    EXP2_2=PB1, EXP2_4=PB0, EXP2_6=PB2, EXP2_8=PG0, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"
# See the MKS Lcd Config path file for definitions of common LCD displays.
[include mks_lcd_12864.cfg]

[virtual_sdcard]
 path: /home/biqu/printer_data/gcodes/
  #path:/home/biqu/printer_data/gcodes/
#path: /home/pi/printer_Genius1_data/gcodes/
#path:/home/pi/printer_Genius1_data/gcodes/
 #~/gcode_files
[pause_resume]

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE


[display_status]

#[bltouch]
#sensor_pin: ^PD2
#control_pin:PB5
#x_offset: -44
#y_offset: -14
#z_offset: 3.099
#speed: 10.0
#samples: 2
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.1
#samples_tolerance_retries: 1

#[safe_z_home]
#home_xy_position: 100,100 # Change coordinates to the center of your print bed
#speed: 50
#z_hop: 10                 # Move up 10mm
#z_hop_speed: 5


[gcode_macro G29]
gcode:
    BED_MESH_CLEAR
    G28
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=name
    SAVE_CONFIG
    BED_MESH_PROFILE LOAD=name

[bed_mesh]
horizontal_move_z: 2
speed: 200
mesh_min: 35, 15 # 30 , 15
#mesh_max: 185, 194
mesh_max: 215, 195
probe_count: 10,10
algorithm: bicubic
#fade_start: 1
#fade_end: 10
#fade_target: 0
#adaptive_margin: 5

[safe_z_home]
home_xy_position: 75,135
z_hop: 10
z_hop_speed: 25
speed: 100


[screws_tilt_adjust]
#screw1: 17,78
screw1: 5,65
screw1_name: front left
#screw2: 157,78
screw2: 147.5,65
screw2_name: front right
#screw3: 17,218
screw3: 5,210
screw3_name: back left
#screw4: 157,218
screw4: 147.5,210
screw4_name: back right
speed: 100.0
screw_thread: CW-M5	

[bed_screws]
screw1: 45,45
screw1_name: front left
screw2: 185,45
screw2_name: front right
screw3: 185,185
screw3_name: back right
screw4: 45,185
screw4_name: back left
speed: 100.0

[skew_correction]

[mcu host]
serial: /tmp/klipper_host_mcu

[temperature_fan raspberry_pi]
pin: host:gpio211
kick_start_time: 0.8
#shutdown_speed: 0
off_below: 0.1
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 0.6
target_temp: 38

[respond]
[filament_switch_sensor filament_sensor]
pause_on_runout: True
#switch_pin: !PJ0
switch_pin: PE4
insert_gcode:
  RESPOND MSG="Filament insert detected"
runout_gcode:
  RESPOND MSG="Filament runout detected"
  
################################################
[output_pin led_r]
  pin: PE3  # Reemplaza con el pin correcto
  pwm: True
#value: 1.0 # valor inicial 100%
#value: 0.0 # valor inicial 0%

[output_pin led_g]
  pin: PG5  # Reemplaza con el pin correcto
  pwm: True

[output_pin led_b]
  pin: PH3  # Reemplaza con el pin correcto
  pwm: True

[gcode_macro LED_ON]
gcode:
  SET_PIN PIN=led_r VALUE=1.0
  SET_PIN PIN=led_g VALUE=1.0
  SET_PIN PIN=led_b VALUE=1.0

[gcode_macro LED_OFF]
gcode:
  SET_PIN PIN=led_r VALUE=0.0
  SET_PIN PIN=led_g VALUE=0.0
  SET_PIN PIN=led_b VALUE=0.0

[gcode_macro LED_RED]
gcode:
  SET_PIN PIN=led_r VALUE=1.0
  SET_PIN PIN=led_g VALUE=0.0
  SET_PIN PIN=led_b VALUE=0.0



[mcu eddy]
# FOR USB: replace this with your serial port ID
# FOR CANBUS: replace this with your canbus UUID
#serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340310A9D51C-if00
serial: /dev/serial/by-id/usb-Klipper_rp2040_50445061286A3A1C-if00
restart_method: command

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 35  # INSERTAR VALOR PARA LA POSICIÓN DE LA SONDA
y_offset: -25 # INSERTAR VALOR PARA LA POSICIÓN DE LA SONDA 

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26



################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 47.921
#*# pid_ki = 8.874
#*# pid_kd = 64.694
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 50.234
#*# pid_ki = 0.168
#*# pid_kd = 0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 61.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 43.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.087645, 0.007492, -0.018262, -0.021985, -0.026856, -0.042207, -0.037419, -0.022501, -0.009684, -0.080265
#*# 	  0.082110, 0.021279, -0.011096, -0.008666, -0.005857, -0.013401, -0.001018, 0.031603, 0.026823, -0.055820
#*# 	  0.041381, -0.004329, -0.025315, -0.012497, -0.004840, -0.018641, 0.005590, 0.034861, 0.028709, -0.031104
#*# 	  -0.007261, -0.053867, -0.064555, -0.051400, -0.041297, -0.058163, -0.039359, -0.023387, -0.017231, -0.082229
#*# 	  -0.044144, -0.084202, -0.090529, -0.071346, -0.065985, -0.072397, -0.067548, -0.056737, -0.038841, -0.097400
#*# 	  -0.101371, -0.129752, -0.135267, -0.106812, -0.094497, -0.113726, -0.113739, -0.091457, -0.089076, -0.139834
#*# 	  -0.109748, -0.148864, -0.161467, -0.116256, -0.111338, -0.134722, -0.122267, -0.113320, -0.111324, -0.171551
#*# 	  -0.116256, -0.143747, -0.164047, -0.139703, -0.121204, -0.147265, -0.140777, -0.127215, -0.131641, -0.203408
#*# 	  -0.124270, -0.167047, -0.165554, -0.146715, -0.140237, -0.160511, -0.140771, -0.132711, -0.131766, -0.194702
#*# 	  -0.160928, -0.186458, -0.187976, -0.157408, -0.148328, -0.148328, -0.148328, -0.139703, -0.129752, -0.180297
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 215.0
#*# min_y = 15.0
#*# max_y = 195.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUKO45bJbyPc/gPzM+1K4/j/UxQyvAufkP+seRhUC1s4/1gL40vmM3T+qtw/d0szsP5JKXcJPkNO/ChiKsY6P8r9duRseJdPJP4058y4j9OI/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQu1wje1u6lD5lcPakhvqUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQqDWMyYs1G0Bvplp7axsKQD3+vldwtPw/WB51DnUdB0C+phga+mq4P4uEuNBOPRzAneSmQgjh+T+HbhhZ3w0nQNqNb5JrnNu/Ztmlr1YpFcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDELQCw7Av+JQ+G3XzNgIJlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1A7NC1reuiUPvYdTj8M7Rs+qZhGB9mLDb7BMEZRENP1PVmJO9rMaeM9xSuYLuI3372/WascvEnsvfpIlkc6gt0949HbZm1N3D3+vS4xy6vRvZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAMDAGZcvHj/GChok2vwTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/Hi+XGcDAAEdALf90uH74lGWMB2ZfcmFuZ2WUXZQoR0FIVxUQgugAR0FIs3CgDXAAZYwCZGOUSw91Lg==
